<!-- update.ejs -->
<form action="/articles/userupdate/update/<%= user._id %>" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= user.name %>" required>
    <br>
    <label for="address">Address:</label>
    <input type="text" name="address" id="address" value="<%= user.address %>" required>
    <br>
    <label for="sdt">Phone Number:</label>
    <input type="text" name="sdt" id="sdt" value="<%= user.sdt %>" required>
    <br>
    <label for="image">Image:</label>
    <input type="file" name="image" id="image" accept="image/*">
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" value="<%= user.email %>" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <label for="roles">Roles:</label>
    <select name="roles" id="roles">
      <option value="admin" <%= user.roles === 'admin' ? 'selected' : '' %>>Admin</option>
      <option value="user" <%= user.roles === 'user' ? 'selected' : '' %>>User</option>
    </select>
    <br>
    <label for="status">Status:</label>
    <input type="checkbox" name="status" id="status" <%= user.status ? 'checked' : '' %>>
    <br>
    <button type="submit">Update User</button>
  </form>
  